<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>

	<p>
		Splurty was built by B Mac, one budding web developer on his way to web mastery through the help of the Firehose Project.
	</p>
	<br />
	<p>
		I haven't made a ton of apps yet, but over the next 13 weeks I'll be making a few very impressive applications. This is only one of them.
	</p>
	<p>
		If you want to learn how to program - start <a target="_blank" href="http://www.thefirehoseproject.com/">here</a>
	</p>

	<div class="col-xs-12 col-sm-4">
		<%= image_tag 'camjam.jpg', :class => 'img-responsive' %>
	</div>

	<div class="col-xs-12 col-sm-7 col-sm-offset-1">
		<h2 class="text-center">Camma Jamma</h2>
		<br />
		<p>
			Cameron James McLean is a kid at heart and at life! He has not developed any web applications, but he does run. And nobody can ever take that away from him. That's all I really have to say about my little man Cam.
		</p>
	</div>
	<br class="clear" />

	<div class="col-xs-12 col-sm-4" style="padding-top:30px">
		<%= image_tag 'fam.jpg', :class => 'img-responsive' %>
	</div>

	<div class="col-xs-12 col-sm-7 col-sm-offset-1">
		<h2 class="text-center">The Family</h2>
		<br />
		<p>
			This is our (current) family of three. Fairly soon (in the next three months) we'll be expanding to a family of four! Cam's three. There are a lot of threes going on around here. At this point, this is just random text, but just as long as I'm filling up space, I'm good.
		</p>
	</div>
	<br class="clear" />
	<br />
	<br />
	<br />
	<br />


</div>