<h2>
	<span>SPLURTY / No. <%= @quote.id %></span>
	For all of ya'll entering or in the midst of career in Corporate America...all the advice you need is below!
</h2>

<h1><%= @quote.saying %></h1>
<h2 class="pull-right"><%= @quote.author %></h2>

<br class="clear" />
<br />
<br />
<br />